body {
font-family: 'Roboto', sans-serif;
background-color: #fff;
color: #434455;
font-style: normal;
}
a {
text-decoration: none;
}
ul {
list-style-type: none;
}
p, h1, h2, h3 {
margin-top: 0;
margin-bottom: 0;
}
ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
img {
display: block;    
}
.header {
    border-bottom: 1px solid  #E7E9FC;
        background: #FFF;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.head-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
.header-navigation {
display: flex; 
align-items: center;
}
.header-logo { 
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 17.5px 0;
}
.logo-item {
color:  #2E2F42;
}
.header-link-menu {
display:none;
gap: 40px;
}

.current::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 4px;
background-color: #404BBF;
border-radius: 2px;
}


.header-link:hover, 
.header-link:focus,
.header-link:active {
color: #404BBF;
}


.header-link {
        color: #2E2F42;
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
 .current.header-link {
     color: #404bbf;
 }

.section {
padding-top: 120px;
padding-bottom: 120px;
}

 .address-link:hover {
color: #404BBF;
 }
 .address-link:focus {
color: #404BBF;
 }
.address-link {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-contacts {
display: none;
}
.mob-header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    background:  #FFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}
.mob-container {
position: relative;
padding: 72px 16px 40px 16px;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}

.menu-open-btn {
            border: none;
            background-color: #FFF;
            padding: 0;
        }
    
.menu-close-btn {
            padding: 0;
            top: 24px;
            right: 24px;
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background-color: #e7e9fc;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
            cursor: pointer;
        }

 .mob-menu-item:not(:last-child) {
     margin-bottom: 40px;
 }
 .mob-menu-link {
     color:  #2E2F42;
     font-size: 36px;
     font-weight: 700;
     line-height: 1.11em;
     letter-spacing: 0.72px;
     text-transform: capitalize;
 } 
 .mob-current {
     color: #404bbf;
 }

 .mob-address-link {
    
     flex-direction: column;
     align-items: flex-start;
     font-size: 20px;
     font-weight: 500;
     line-height: 1.2;
     letter-spacing: 0.4px;
     color: #434455;
 }

 .mob-address:not(:last-child) {
     margin-bottom: 24px;
 }

 .mob-address-font {
     margin-top: auto;
     font-style: normal;
    margin-bottom: 48px;

 }

 .adr-current {
     color: #4D5AE5;
 }

 .mob-icon {
     display: flex;
     align-items: center;
     gap: 40px;
     padding-left: 0;

 }

.main-sector { 
    background-color: #2E2F42;
    background-image: linear-gradient(#2E2F42B2, #2E2F42B2),
        url(../images/dark-bgpeople-office-mob.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), url(../images/dark-bgpeople-office-mob@2x.jpg);
    margin: 0 auto;
    padding: 72px 16px;
    
}

.main-sector-name {
color:  #FFF;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11em;
letter-spacing: 0.72px;
text-transform: capitalize;
max-width: 220px;
text-align: center;
margin: 0 auto;
margin-bottom: 72px;
}
.main-sector-btn {

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: #FFF;
    background: #4D5AE5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}
.main-sector-btn:hover, .main-sector-btn:focus {
color: #FFF;
background-color: #404BBF;
}
.advantages {
    padding: 96px 0;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.container {

max-width: 320px;
padding-left: 16px;
padding-right: 16px;
margin-left: auto;
margin-right: auto;
}
.advantages-container-list {
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 72px;
}
.icon-box {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid  #8E8F99;
       
}
.advantages-list {
gap: 72px;
}
.title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}
.title-text {
color:  #434455;
font-size: 16px;
font-weight: 500;
line-height: 1.5em;
letter-spacing: 0.32px;
}
.second-sector {
padding: 96px 0;
background-color: #F4F4FD;
}
.title-img {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
color: #2E2F42;
text-align: center;
margin-bottom: 8px;
}

.soc-link-list {
width: 40px;
height: 40px;
}
.team-icon {
fill: #f4f4fd;
}
.soc-link {
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.last-sector {
padding: 96px 0;
background-color: #FFFFFF;
}
.sector-name {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
text-align: center;
color: #2E2F42;
margin-bottom: 72px;
}
.second-sector-list {
display: flex;
flex-direction: column;
align-items: flex-start;
align-items: center;
gap: 24px;


}
.sector-list {
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-position {
padding-top: 32px;
padding-bottom: 32px;
}
.sub-title {
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
text-align: center;
margin-bottom: 8px;
}

.second-title-img {
color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.4px;
margin-bottom: 8px;
}
.soc-networks {
display: flex;
gap: 24px;
padding: 0 16px;
justify-content: center;
}
.soc-link:hover,
.soc-link:focus,
.soc-link:active {
background-color: #404bbf;
}
.categorias {
width: auto;
padding: 32px 16px;
flex-direction: column;
align-items: flex-start;
border: 1px solid var(--CLOUD, #F4F4FD);
background: var(--WHITE, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
0px 1px 1px 0px rgba(46, 47, 66, 0.16),
0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.last-sector-list {
display: flex;
justify-content: center;
flex-direction: column;
gap: 48px;
}
.second-sub-title {
color:  #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.32px;
}
.portfolio-item {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-cover-text {
transform: translateY(0%);
}
.portfolio-text-wrap {
position: relative;
overflow: hidden;
}
.portfolio-cover-text {
position: absolute;
top: 0;
padding: 40px 32px;
width: 100%;
height: 100%;
color:  #F4F4FD;
background-color: #4d5ae5;
font-size: 16px;
letter-spacing: 0.02em;
line-height: 1.5;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-back {
background: #2E2F42;
padding: 100px 0;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-end {
color: #F4F4FD;

}
.footer-logo-end {
text-align: center;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 72px;
}
.footer-text {
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: #F4F4FD;
        max-width: 264px;
        text-align: left;
}
.soc-text {
    color:  #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}
.footer-soc-list { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 0;
}
.footer-soc-item {
width: 40px;
height: 40px;
}
.footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 8px;   
}
.footer-soc-link:hover,
.footer-soc-link:focus,
.footer-soc-link:active {
background-color: #31d0aa;
}
.team-icon {
    fill: #f4f4fd;
}

.footer-form {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}
.form-text {
    color:  #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: center;
}
.footer-form-input {
    color: #ffffff;
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 8px 0 8px 16px;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-form-input::placeholder {
color:  #FFF;
}
.footer-form-btn {
        display: flex;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
       
        letter-spacing: 0.64px;
        min-width: 165px;
        cursor: pointer;
        background-color: #4d5ae5;
        color: #ffffff;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        line-height: 1.5;
        font-weight: 500;
        font-size: 16px;
        border-radius: 4px;
        min-width: 169px;
}
.footer-form-btn:hover {
    background-color: #404BBF;
}

.footer-form-btn:focus {
    background-color: #404BBF;
}
.footer-form-icon {
margin-left: 16px;
fill: #ffffff;
}
.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background:  rgba(46, 47, 66, 0.40);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}
.modal { 
        width: 288px;
        height: 623px;
        border-radius: 4px;
        background-color: var(--DAIRY, #FCFCFC);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 72px 24px 24px 24px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
    position: absolute;
        padding: 0;
        top: 24px;
        right: 24px;
        margin-left: auto;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        background-color: #e7e9fc;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
}
.modal-btn:hover, .modal-btn:focus {
background-color: #404BBF;
border: none;
}
.modal-btn-close {
    fill: #434455;
        border: none;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.modal-btn:hover .modal-btn-close,
.modal-btn:focus .modal-btn-close {
fill: #FFFFFF;
}

.modal-title {

    color:  #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin-bottom: 16px;

}
 
.send-button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    letter-spacing: 0.04em;
}

.modal-input {
width: 100%;
height: 40px;
border-radius: 4px;
border: 1px solid  rgba(46, 47, 66, 0.40);
padding-left: 38px;
background-color: transparent;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap:focus-within .modal-input {
    border-color: #4D5AE5;
}
.input-wrap:focus-within .modal-icon {
    fill: #4D5AE5;
}
.modal-form-btn {
    padding: 16px 32px;
    color:  #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 169px;
    height: 56px;
}
.modal-form-btn:focus,
.modal-form-btn:hover {
background-color: #404BBF;
}
.input-wrap {
position: relative;
}
.modal-input:focus {
border-color: #4D5AE5;
}
.modal-label {
display: block;
color:  #8E8F99;
font-size: 12px;
font-weight: 400;
letter-spacing: 0.48px;
margin-bottom: 4px;
line-height: 1.17;
}
.modal-field {
margin-bottom: 8px;
}
.modal-field-textarea {
margin-bottom: 16px;
}
.modal-icon {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
fill: #2E2F42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {

        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        width: 100%;
        height: 120px;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        resize: none;
}
.modal-textarea:focus {
border-color: #4D5AE5;
}
.modal-textarea::placeholder {
color: rgba(46, 47, 66, 0.40);
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0.48px;
}
.ckeckbox-field {
margin-bottom: 24px;
}
.new-box {
width: 16px;
height: 16px;
display: inline-flex;
cursor: pointer;
justify-content: center;
align-items: center;
fill: transparent;
outline: transparent;
background-color: transparent;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
border 250ms cubic-bezier(0.4, 0, 0.2, 1),
fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check-box:checked + .check-text .new-box {
background-color: #404bbf;
fill: #F4F4FD;
border: none;
}
.check-text {
width: 338px;
color:  #8E8F99;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.48px;
}
.check-link {
outline: transparent;
background-color: transparent;
color: #4D5AE5;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.48px;
text-decoration-line: underline;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .mob-header-container {
        display: none;
    }
    .header-link-menu {
        display: flex;
    }

    .address-contacts {
        display: block;
        margin-left: auto;
        font-style: normal;
            
    }

    .address-contacts-menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 12px;
    }



    .address-link {
        padding: 0;
        color:  #434455;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
    }

    .header-navigation {
        gap: 120px;
    }
    .menu-open-btn {
        display: none;
    }
        .modal {
            width: 408px;
            height: 584px;
        }

    .advantages {
            padding: 96px 0;
        }

    .advantages-container-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .advantages-list {
        width: calc((100% - 24px) / 2);
    }

    .title {
        text-align: start;
        margin-bottom: 8px;
    }

    .last-sector-list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 72px 24px;

    }

    .portfolio-item {
        
        width: calc((100% - 24px) / 2);
    
    }
    .portfolio-img {
        width: 356px;
        height: 300px;
    }


    .second-sector-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 552px;
        margin: 0 auto;
        gap: 64px 24px;
    }

    .sector-list {
        width: calc((100% - 24px) / 2);
    }

    .main-sector-name {
        font-size: 56px;
        line-height: 1.07em;
        letter-spacing: 1.12px;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .main-sector {
        background-image: linear-gradient(#2E2F42B2, #2E2F42B2),
            url(../images/dark-bgdark-bg-tablet.jpg);
        max-width: 768px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main-sector {
            background-image: linear-gradient(#2E2F42B2, #2E2F42B2),
                url(../images/dark-bgdark-bg-tablet@2x.jpg);
        }

        .main-sector {
            padding: 112px 0;
        }
    }

    .footer-logo-end {
        text-align: left;
       
    }

    .soc-text {
        text-align: left;
    }

    .form-text {
        text-align: left;
    }

    .footer-container {
        justify-content: left;
        gap: 72px 24px;
        margin-left: auto
    }
    .container.footer-container {
        max-width: 584px;
        }

    .footer-back {
        padding: 96px 0;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-navigation {
        gap: 76px;
    }

    .address-contacts-menu {
        flex-direction: row;
        gap: 40px;
    }
    .address-link {
        color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;

    }

    .advantages-list {
        width: calc((100% - 72px) / 4);
    }

    .icon-box {
        display: flex;
    }

    .title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        color: #2E2F42;
        margin-bottom: 8px;
    }

    .title-text {
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: #434455;
    }

    .second-sector-list {
        max-width: 1128px;
        margin: 0 auto;
    }

    .last-sector-list {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }
    .portfolio-img {
            width: 360px;
            height: 300px;
         }

    .categorias {
        padding: 32px 16px 32px 16px;
    }

    .sector-list {
        width: calc((100% - 72px) / 4);
    }

    .main-sector {
        background-image: linear-gradient(#2E2F42B2, #2E2F42B2),
            url(../images/people-office-desk.jpg);
        max-width: 1440px;
        padding: 188px 0;
        
        }
    

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main-sector{
            background-image: linear-gradient(#2E2F42B2, #2E2F42B2),
                url(../images/people-office-desk@2x.jpg);
        }
    }

    .main-sector-name {
        font-size: 56px;
        line-height: 1.07em;
        letter-spacing: 1.12px;
        max-width: 496px;
        margin-bottom: 48px;
    }
    .container.footer-container {
            max-width: 1158px;
        }

    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
    }
    .footer-logo-end {
        margin-right: 120px;
    }
    .container-soc-link {
        margin-right: 80px;
    }
    .footer-form {
        flex-wrap: nowrap;
    }
   
    .advantages .second-sector .last-sector {
        padding: 120px 0;
    }

}